<!DOCTYPE html>
<html>
<head>
<title>Feedback Success</title>
<style>
body{
font-family:Segoe UI;
background:#00b894;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}
.box{
background:white;
padding:40px;
border-radius:15px;
text-align:center;
width:400px;
}
a{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#00b894;
color:white;
text-decoration:none;
border-radius:8px;
}
</style>
</head>
<body>
<div class="box">
<h1>⭐ Thank You!</h1>
<p>Your feedback submitted successfully.</p>
<a href="/">Go Home</a>
</div>
</body>
</html>